<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Webdev by Lu{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- INCLUDE BOOTSTRAP -->
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/index.css') }}" />
        {% endblock %}
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body class="container-fluid">
        <section  id="body">    
            {{ include('navbar.html.twig')}}
            <div id="content">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        {% block body %}{% endblock %}
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </section>
        <footer id="footer"  class="navbar-fixed-bottom">
            <div id="copyRight">&copy Lutschinski 2017</div>
            <div id="iconLink"><a target="_blank" href="https://icons8.com/web-app/14082/Contacts">Contacts icon credits</a><div>
        </footer>
        {% block javascripts %}
            <script src="{{ asset('js/index.js') }}"></script>
        {% endblock %}
    </body>
</html>
