{% extends 'base.html.twig' %}
    
{% block body %}
    <h1 class="section-heading">I'm Daniel, and this is my site!</h1>
    I'll keep you updated on stuff I am working on and also my learning progress.<br>
    More to come. ;)
    
    {# Toast erstellen nach erfolgreichem login #}
    {% if app.request.hasPreviousSession %}
        {% for flash_message in app.session.flashBag.get('loggedout') %}
            <div id="flashLog">{{ flash_message }}</div>
        {% endfor %}
        <script>
            $("#flashLog").delay(1250).fadeOut(1000).promise(function(){
                $("#flashLog").remove();
            });
        </script>
    {% endif %}
{% endblock %}
