{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="section-heading">I'm working on different topics! Pick one you want more details about! :)</h1>
    <!-- <div class="projectDiv" urlTo="{{ path('vocabs') }}">Learn vocabs!<div> -->
    {% for project in projects %}
        <div class="projectDiv" urlTo="{{ path(project.urlTo) }}">
            {{ project.name }}
        </div>
    {% endfor%}         
{% endblock %}