{% extends 'base.html.twig' %}

{% block body %}
    <h1>Here are some vocabs that might be usefull to you! ;)</h1>
    {% for vocab in vocabs %}
        <div class="vocab">{{ vocab.german }}</div>
    {% endfor%}    
{% endblock %}
