<!-- Reset Stylesheet -->

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Makes calculation width and height of elements easier */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* My CSS */

html, body {
    height: 100%;
    margin: 0;
}

#body{
    margin: auto;
    min-height: 100%; 
    height: auto !important; 
    padding-top: 50px;
    margin-bottom: 55px;
}

#footer {
    clear: both;
    background-color: black;
    color: white;  
    padding: 20px 20px;
    position: fixed;
    border-radius: 3px;
}

.vocab {
    height: 130px;
    width: 130px;
    text-align: center;
    background-color: #81c784; 
    float: left;
    margin: 10px;
    padding: 10px;
}

.projectDiv {
    float: left;
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: #ffe082; 
    margin: 10px;
    padding: 10px;
}

#newVocab {
    background-color: #ffffb3; 
    color: black;
    float: left;
    margin: 10px;
    border-style: dotted;
    border-color: green;
    padding: 8px;
}

#vocabForm {
    visibility: hidden;
}

#flashDiv {
    position: fixed;
    bottom: 150px;
    left: 45%;
    background-color:  #e4e4e4;
    border-style: solid;
    border-color: #b6b6b6;
    padding: 16px;
    border-radius: 4px;
    text-align: center;
    z-index: 1;
}

#flashLog {
    position: fixed;
    top: 150px;
    left: 45%;
    background-color:  #e4e4e4;
    border-style: solid;
    border-color: #b6b6b6;
    padding: 16px;
    border-radius: 4px;
    text-align: center;
    z-index: 1;
    opacity: 0.7;
}

#iconLink {
    float: right;
}

#copyRight {
    float: left;
}

img#login{
    width: 32px;
    height: 32px;
}

div.form-padd{
    padding-top: 150px;
}

.carousel-control.left, 
.carousel-control.right {
    background-image: none;
}

a:link {
    text-decoration: none;
}

#carousel-div {
    margin-top: 50px;
}

.carousel-inner .carousel-caption h3 {
    font-size: 40px;
}

.carousel-inner .carousel-caption span {
    font-size: 24px;
    background-color: rgba(0,0,0, .25);
}

#content h1 {
    padding-left: 15px; 
}

.create-todo {
    display: inline-block;
    padding: 5px;
    border: black solid 1px;
    border-radius: 5px;
    background-color: #81c784;
}

.todo-div {
    background-color: #81c784;
    border: black solid 1px;
    border-radius: 5px;       
    padding: 8px;
    margin: 10px 0;
}

.todo-title {
    font-weight: bold;
    font-size: 1.25em;
}

/* Media query breakpoints */

@media screen and (max-width: 700px){
    #carousel-div {
        margin-top: 30px;
    }
    
    .section-heading {
        font-size: 32px;
    }
    
    .vocab {
        height: 105px;
        width: 105px;
    }
}

@media screen and (max-width: 390px){
    .projectDiv {
        height: 150px;
        width: 150px;
    }
    
    .section-heading {
        font-size: 20px;
    }
    
    .vocab {
        height: 90px;
        width: 90px;
    }
}

@media screen and (max-width: 320px){
    .vocab {
        height: 110px;
        width: 110px;
    }
    
    .projectDiv {
        height: 120px;
        width: 240px;
    }
}